body {
    background: linear-gradient(to right, #1e1e1e, #3a3a3a);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.download-page {
    padding: 50px 20px;
}

.game-category {
    margin-bottom: 80px;
}

.game-category h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    color: transparent;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.game-item {
    background: #2c2c2c;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.game-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.game-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.game-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.game-item p {
    font-size: 1rem;
    color: #ccc;
}

.game-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(228, 190, 0, 0.262);
    clip-path: circle(50% at 50% 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.game-item:hover:before {
    clip-path: circle(150% at 50% 50%);
    opacity: 1;
}
.game-logo{
    border-radius: 20px;
}